h1 {
	text-align: center;
	margin-top: 40px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.form-item {
	margin-top: 5px;
}

.graphGrid {
	display: grid;
	grid-gap: 20px;
	width: auto;
	height: auto;
	background: whitesmoke;
	padding: 10px;
	margin-top: 10px;
	transform: rotate(180deg);
}

.bar {
	width: 20px;
	background: green;
	margin: 0px 5px;
}

.valInBar {
	transform: rotate(180deg);
	text-align: center;
	font-size: 40%;	
}

#generatedTitle {
	text-align: center;
}

#graphHolder {
	text-align: center;
	margin: 10px;
}

#graphElement {
	display: flex;
}

#yAxisOutput {
	transform: rotate(270deg);
	height: 20px;
	margin-top: 45%;
}

#xAxisOutput {
	margin-top: 10px;
}
